appdirs==1.4.3
astroid==1.5.3
bcrypt==3.1.3
cffi==1.10.0
coverage==4.4.2
Django==1.11
django-jenkins==0.110.0
isort==4.2.15
lazy-object-proxy==1.3.1
mccabe==0.6.1
olefile==0.44
packaging==16.8
pep8==1.7.1
Pillow==4.1.0
pycparser==2.17
pyflakes==1.6.0
pylint==1.7.4
pyparsing==2.2.0
pytz==2017.2
six==1.10.0
validate-email==1.3
wrapt==1.10.11
